<p>inbuild-pipe works!</p>

<!-- syntax=> {{propetyName | pipeName }} -->

<!-- <h3> {{strDetails}} </h3>
<h3> {{strDetails | lowercase}} </h3>
<h3> {{strDetails | uppercase}} </h3>
<h3> {{strDetails | titlecase}} </h3> -->
<!-- slice => copy a section of array
-->
<!-- <h3> {{strDetails | slice:2:20 }} </h3>
<h3> {{strDetails | slice:5 }} </h3>
<h3> {{strDetails | slice }} </h3> -->

<!--   
<h2> {{0.25 | percent}} </h2>
<h2> {{0.025 | percent:'1.1'}} </h2>
<h2> {{0.091 | percent:'1.2'}} </h2>
<h2> {{0.091 | percent:'2.2'}} </h2> -->


 <!-- <h2> {{0.25 | currency}} </h2> 

  <h2> {{25 | currency : 'INR'}} </h2> 

     <h2>{{25 | currency :'INR  ':'code'}} </h2>

  <h2>{{0.25 | currency :'GBP'}} </h2>  -->



<!-- 
    <h2>  {{5.6782123 | number : '1.2-3'}} </h2>
     
    <h2>  {{5.678556 | number : '1.2-3' }} </h2> 
    
  <h2>  {{5.678556 | number : '2.2-3' }} </h2> 
    
   <h2>  {{5.6 | number : '2.2-3' }} </h2> 
         
   <h2>  {{5.555556 | number : '2.2-3' }} </h2> 
    
      <h2>{{6.555500 | number : '2.2-3' }}</h2>   
    
      <h2> {{65.678556 | number : '1.2-3'}} </h2> 
        
  <h2> {{num2 |number : '2.2-3' }} </h2>  -->
  <!-- 456.123789456 -->

 
  <h2> {{mydate}} </h2>

   
  <h2> {{mydate | date : 'shortDate'}} </h2>
         
  <h2> {{mydate | date : 'dd-MM-yyyy'}} </h2>
   <h2> {{mydate | date : 'dd/MM/yyyy'}} </h2>
 
  <h2> {{mydate | date : 'dd'}} </h2>
  <h2> {{mydate | date : 'MM'}} </h2>
 <h2> {{mydate | date : 'yyyy'}} </h2>
 
 <h2> {{mydate | date : 'yy'}} </h2>
        
 <h2> {{mydate | date : 'longDate'}} </h2>  
  
 <!-- chaining of pipe -->


 <h2> {{mydate | date:'longDate' | uppercase  }} </h2>
   
 <h2> {{mydate | date : 'mediumDate' }} </h2>
   
 <h2> {{mydate | date : 'hh:mm-ss'}} </h2>

<h2> {{mydate | date : 'hh:mm'}} </h2>   



