<h2>My First Angular Application</h2>

<!-- <app-employee></app-employee>
<app-student></app-student> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-event-binding3></app-event-binding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-course></app-course> -->
<!-- <app-posts></app-posts> -->
<router-outlet></router-outlet>